<html>
    <head>
        <title>Ruby's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Ruby's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p> Asia is on track to top 50 percent of global GDP by 2040 and drive 40 percent of the world’s consumption, representing a real shift in the world’s center of gravity.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>As companies digitize businesses and automate operations, cyberrisks proliferate; here is how the cybersecurity organization can support a secure digital agenda.</p>
        </div>
    </body>
</html>
